<?xml version="1.0"?>
<launch>
<!-- Must correspond to a file in the src/RelaxedIK/Config/info_files directory -->
<!-- ex: value= "ur5_info.yaml" -->
   <arg name="info_file_name" default="" />

<!-- ##################################################################################### -->

   <param name="info_file_name" value="$(arg info_file_name)"/>
   <node pkg="relaxed_ik" type="load_info_file.py" name="load_info_file" output="screen"/>
</launch>
